.exam-container {
  max-width: 800px;
  margin: 0px auto;
  padding: 30px;
  height: fit-content;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  min-height: 600px;
  gap: 20px;
  justify-content: center;
  background-color: #fff;
  transition: 0.3s ease-in-out;
  animation: popIn 0.3s ease-in-out;
  scrollbar-width: thin;          
  scrollbar-color: #2196f3 #e0e0e0; 
}

/* WebKit scrollbar (Chrome, Edge, Safari) */
.exam-container::-webkit-scrollbar {
  height: 6px; /* thin horizontal scrollbar */
}

.exam-container::-webkit-scrollbar-track {
  background: #e0e0e0; /* track color */
  border-radius: 10px;
}

.exam-container::-webkit-scrollbar-thumb {
  background: #2196f3; /* blue thumb */
  border-radius: 10px;
}

.exam-container::-webkit-scrollbar-thumb:hover {
  background: #1976d2; /* darker blue on hover */
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.exam-heading {
  padding: 10px;
}

.exam-heading h3 {
  margin: 0px;
  margin-top: 20px;
  text-transform: uppercase;
  
  text-align: center;
  font-size: 1.5rem;
}

.exam-card {
  border: 1px solid #e0e0e0;
  background-color: #fafafa;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  max-width: fit-content;
  min-width: 200px;
  max-height: 200px;

  /* Add animation */
  animation: slideIn 0.4s ease-out;
}

.exam-card h3 {
  margin: 0 0 8px 0;
  font-size: 1.25rem;
}

/* Keyframes for the slide-in animation */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.exam-card h3 {
  margin: 0 0 8px 0;
  font-size: 1.25rem;
}

.exam-card small {
  display: block;
  margin: 0;
  color: #555;
}

.exam-card .image-container {
  width: 100%;
  height: 100px;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 8px;
}

.exam-card:hover {
  transform: scale(1.001);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}