.timer-component {
    background-color: #0d6efd;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    padding: 12px 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    animation: popIn 0.4s ease-out;
}

.timer-component span {
    font-size: 1.25rem;
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
}

/* Container to align questions to right with vertical scroll */
.all-questions-container {
    padding: 20px;
    width: 100%;
    flex-wrap: wrap;
    max-height: 300px; /* container height */
    display: flex;
    flex-direction: row; /* stack vertically */
    overflow-y: auto; /* vertical scroll */
    overflow-x: hidden; /* no horizontal scroll */
    background-color: transparent;
    margin: 0 auto;
    align-items: center; /* center horizontally if needed */
    gap: 10px; /* spacing between cards */
}

/* Question Card Style */
.question-card {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

.question-card:hover {
    background-color: #e3f2fd;
}

/* Active question - dim blue */
.question-card.active {
    background-color: #bbdefb; /* light/dim blue */
    color: #0d6efd; /* primary text */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.exam-qa{
    min-height: 400px !important;
}

.question-card.answered {
  background-color: #0d6efd;
  color: white;
}
.question-card.answered {
  background-color: #0d6efd;
  color: white;
}